{% extends 'index.html' %}
{% block content %}
<div style="height: 100%;width: 100%;" class="h-100 d-inline-block">

    <div id="settings" class="pt-5">
        <h1 class="text-center mb-5">Settings</h1>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
        <form action="" method="post" class="text-center mt-5">
            {% csrf_token %}
            {% for field in form %}
            {{field}}
            {% endfor %}
            {% for field in form2 %}
            {{field}}
            {% endfor %}
            <br>
            <input type="submit" value="Save" class="btn btn-success col-12 col-lg-4 mb-5"
                style="border-radius: 20px;height: 40px;">
        </form>

    </div>
</div>
{% endblock %}