{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="about my-2">
    <div class=" ml-1 row">
        <div class="col-12 col-lg-6 p-0">
            <h2>Welcome to Foodie</h2>
            <p>
                Welcome to Foodie, where culinary excellence meets warm hospitality. Located in the heart
                of
                [City/Neighborhood], we are passionate about delivering an unforgettable dining experience that
                tantalizes your taste
                buds and nourishes your soul.
            </p>
        </div>
        <img class="col-12 col-lg-6"
            src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="Food image">
    </div>
</div>


<div class="about my-5">
    <div class="row">
        <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="" class="col-12 col-lg-6 p-0 m-0">
        <div class="col-12 col-lg-6 pl-5 ">
            <h2>Our Story: A Passion for Culinary Excellence</h2>
            <p>Our story began with a shared love for food and a desire to create a welcoming space where people can
                gather, indulge,
                and create lasting memories. Inspired by the vibrant culinary traditions from around the world, we
                embarked on a journey
                to craft a menu that showcases the very best flavors and ingredients</p>
        </div>
    </div>
</div>


<div class="about my-5">
    <div class="row">
        <div class="col-12 col-lg-6 pl-5 ">
            <h2>Crafted with Care: Our Culinary Philosophy</h2>
            <p>At Foodie, we believe in the power of culinary artistry. Our talented team of chefs, led
                by [Head
                Chef/Owner's Name], brings their expertise and passion to every dish. From meticulously sourced
                ingredients to precise
                cooking techniques, we strive for perfection in every bite.</p>
        </div>
        <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="" class="col-12 col-lg-6 p-0 m-0">
    </div>
</div>


<div class="about my-5">
    <div class="row">
        <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="" class="col-12 col-lg-6 p-0 m-0">
        <div class="col-12 col-lg-6 pl-5 ">
            <h2>A Gastronomic Journey: Menu Highlights</h2>
            <p>Our menu is a celebration of flavors and a fusion of global influences. Whether you crave a sizzling
                steak, a delicate
                seafood creation, or a vibrant vegetarian delight, our carefully crafted dishes cater to every
                palate. We take pride in
                sourcing local, sustainable ingredients whenever possible, supporting our community and reducing our
                environmental
                footprint.</p>
        </div>
    </div>
</div>


<div class="about my-5">
    <div class="row">
        <div class="col-12 col-lg-6 pl-5 ">
            <h2>Meet Our Culinary Maestro: [Head Chef/Owner's Name]</h2>
            <p>Step into our restaurant, and you'll be greeted by an inviting ambiance that effortlessly blends
                modern elegance with a
                cozy, intimate atmosphere. The soothing lighting, stylish decor, and attentive staff create a
                comfortable space where
                you can relax and savor each moment.</p>
        </div>
        <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="" class="col-12 col-lg-6 p-0 m-0">
    </div>
</div>


<div class="about my-5">
    <div class="row">
        <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="" class="col-12 col-lg-6 p-0 m-0">
        <div class="col-12 col-lg-6 pl-5 ">
            <h2>Where Flavor Meets Ambiance: Location and Atmosphere</h2>
            <p>We are honored to have received several accolades and positive reviews for our culinary prowess. Our
                commitment to
                excellence has earned us recognition in prestigious publications and the loyalty of our cherished
                patrons. However, our
                true measure of success lies in the smiles on our guests' faces and the joy we bring to their dining
                experience.</p>
        </div>
    </div>
</div>


<div class="about my-5">
    <div class="row">
        <div class="col-12 col-lg-6 pl-5 ">
            <h2>Nurturing the Planet: Sustainability and Ethical Practices</h2>
            <p>Step into our restaurant, and you'll be greeted by an inviting ambiance that effortlessly blends
                modern elegance with a
                cozy, intimate atmosphere. The soothing lighting, stylish decor, and attentive staff create a
                comfortable space where
                you can relax and savor each moment.</p>
        </div>
        <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="" class="col-12 col-lg-6 p-0 m-0">
    </div>
</div>


<div class="about my-5">
    <div class="row">
        <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000"
            alt="" class="col-12 col-lg-6 p-0 m-0">
        <div class="col-12 col-lg-6 pl-5 ">
            <h2>Embracing Community: Our Involvement</h2>
            <p>Beyond our kitchen doors, we believe in giving back to the community that has embraced us. We
                actively participate in
                local initiatives, support charitable organizations, and contribute to sustainable practices,
                ensuring that we play our
                part in creating a better world.</p>
        </div>
    </div>
</div>


<script src="{% static 'js/new.js' %}"></script>
{% endblock %}