<div id="add">
    <form action="{% url 'add_cart' %}" method="post">
        {% csrf_token %}
        <input type="text" name="food" style="visibility: hidden;" class="col-12">
        <label for="quantity" class="text-white">Enter the Quantity</label>
        <input type="integer" placeholder="Quantity" name="quantity" class="col-6">
        <br>
        <input type="submit" value="+add" class="btn btn-success mt-3" onclick="hide()">
        <input type="button" value="cancel" class="btn btn-danger mt-3" onclick="hide()">
    </form>
</div>