{% extends 'index.html' %}
{% load static %}

{% endblock title %}
Foodie Restuarant Cart
{% block title %}



{% block content %}
<div class="cart">
    <h1>Shopping Cart</h1>
    {% if cart_list.items_set.all %}
    {% for item in cart_list.items_set.all %}
    <div class="cart-item">
        <img src="{{ item.food_id.item_img.url }}" alt="Product 1">
        <span>{{item.food_id.name}}</span>
        <span>Rs {{item.food_id.price}}</span>
        <!-- <a href="{% url 'delete_cart' item.pk %}">
                <button class="delete-button">x</button>

            </a> -->
        <form action="{%url 'delete_cart' item.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="delete-button">x</button>

            <!-- <button class="btn btn- ml-2" type="submit">Update</button> -->
        </form>
    </div>
    {% endfor %}

    <div class="cart-total">
        Total: Rs {{cart_list.total_price|floatformat:2}}
    </div>

    <button class="buy-button">Buy Now</button>
    {% else %}
    <div class="cart-item">
        <p>Your Cart is Empty</p>
        <a href="{% url 'menu' %}" class="btn btn-success  ml-auto">Add Items</a>
    </div>
    {% endif %}
</div>

<script>
    // JavaScript code to handle interactions and calculations
    // You can add functionality such as adding/removing items, updating quantities, etc.
</script>
{% endblock %}