{% extends 'index.html' %}
{% load static %}

{% block content %}
<div id="menu">
    <div style="display: flex;flex-direction: row;align-items: baseline;">

        <h2 class="ml-3">Menu</h2>
        <div class="ml-auto">

            <div style="display: inline-block;border: 1px solid rgb(168, 168, 168);">
                <input type="text" placeholder="search">
                <img src="{% static 'img/490px-Magnifying_glass_icon.svg.png' %}" alt="search icon" onclick="h()">
            </div>
        </div>
    </div>
</div>



<hr>
<div id="starters">
    <h3 class="ml-3">Starters</h3>
    <div class="row ml-1 mt-4">
        <div class="col-2">
            <img src="https://img.freepik.com/free-photo/close-up-food-lover-taking-pictures-meal_23-2149286449.jpg?w=740&t=st=1684519584~exp=1684520184~hmac=18f1321e5b9b3105419e0efb5084ec19ef83e6203243b8959730546d684ecfbd"
                alt="food image">
            <div class="row">
                <p class="col-12 ml-3 my-0"> Pizza</p>
                <p class="col-12 text-success ml-3">Rs 120</p>
                <button class="col-12 ml-3 btn btn-success">+Add to Cart</button>
            </div>
        </div>
        <div class="col-2">
            <img src="{% static 'img/download (1).jpg' %}" alt="food image">
            <div class="row">
                <p class="col-12 ml-3 my-0"> Fried Rice</p>
                <p class="col-12 text-success ml-3">Rs 120</p>
                <button class="col-12 ml-3 btn btn-success">+Add to Cart</button>
            </div>
        </div>
        <div class="col-2">
            <img src="{% static 'img/download (2).jpg' %}" alt="food image">
            <div class="row">
                <p class="col-12 ml-3 my-0"> French Fries</p>
                <p class="col-12 text-success ml-3">Rs 120</p>
                <button class="col-12 ml-3 btn btn-success">+Add to Cart</button>
            </div>
        </div>
        <div class="col-2">
            <img src="{% static 'img/download.jpg' %}" alt="food image">
            <div class="row">
                <p class="col-12 ml-3 my-0"> Chicken Lollipop</p>
                <p class="col-12 text-success ml-3">Rs 120</p>
                <button class="col-12 ml-3 btn btn-success">+Add to Cart</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}